<%- include('../partials/header') %>
<section id="show-page">
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>FlightNo: </div>
    <div><%= flight.flightNo %></div>
    <div>Departs: </div>
    <div><%= flight.departs.toLocaleString() %></div>
  </section>
<%- include('../partials/footer') %>

<br><br>
<h4>Destinations</h4>
<form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/destinations">
  <label>Airport:</label>
  <select name="airport">
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN">DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
  </select>
  <label>Arrival:</label>
    <input type="datetime-local" name="arrival">
  <input type="submit" value="Add Destination">
</form>

<% if (flight.destination.length) { %>
  <table id="dest">
    <thead>
      <tr>
        <th>Airport</th>
        <th>Arrival</th>
      </tr>
    </thead>
    <tbody>
      <% flight.destination.forEach(function(f) { %>
        <tr>
          <td><%= f.airport %></td>
          <td><%= f.arrival.toLocaleString() %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Arrival Airport Yet</h5>
<% } %>

<br><br>
<a href="/flights/<%= flight._id %>/tickets/new">New Ticket</a>

<% if (tickets.length) { %>
  <table id="ticket">
    <thead>
      <tr>
        <th>Ticket</th>
        <th>Price</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% tickets.forEach(function(t) { %>
        <tr>
          <td><%= t.seat %></td>
          <td><%= t.price %></td>
          <td>
          <form action="/tickets/<%= t._id %>?_method=DELETE" method="POST">
            <button type="submit">X</button>
          </form>
        </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Tickets Yet</h5>
<% } %>